@media only screen and (min-width:992px) and (max-width:1200px) {
		
/*slack_page*/
.plugin_outer img {
  width: 80%;
}
.lorem_inner_right img
{
	width:100%;
}
.lorem_inner_left {
  padding: 40px 0 0 0;
}

.second_part {
  padding: 40px 40px 0!important;
}
.lorem_outer {
  margin: 70px 0 0;
}
.panel-title > a, .panel-title > small, .panel-title > small > a {
  font-size: 15px;
}
.panel-body {
  font-size: 14px;
}

.feature_img_sec img
{
	width:100%;
}
.feture_text_sec {
  padding: 40px 0 0 0;
}


.feature_block {
  margin: 70px 0 0;
}

/*slack_page_end*/
    .banner-iner {
        padding: 190px 0 240px;
        text-align: center;
    }

    .item>a {
        float: left;
        margin: 0 1%;
        width: 18%;
        text-align: center;
    }

    .carousel-control.left {
        left: -28px;
        top: -22px;
    }

    .carousel-control.right {
        right: -20px;
        top: -6px;
    }

    .testimonals-img {
        margin-right: 20px;
        width: 177px;
    }

    .coments01 {
        bottom: 6%;
    }

    .trusted-thousands01-slider {
        display: inline-block;
        float: none;
        margin: 70px 0;
        text-align: center;
        width: 83%;
    }
	

		.plugin_outer_inner {
  box-shadow: none;
  }
  	.privacy_policy {
  padding: 40px 0;
}
.contact_banner .banner-iner {
  padding: 144px 0;
}
.banner-iner h2 {
  font-size: 47px;
  }
  .navbar-inverse .navbar-nav > li > a {
  font-size: 16px;
  padding: 10px 12px;
  }
}

@media only screen and (min-width:767px) and (max-width:991px) {
	.faq_inner {
    padding: 0 20px;
}
.header-in-left img {
  position: relative;
  top: 7px;
  width: 100%;
}
.navbar-inverse .navbar-nav > li > a {
  font-size: 16px;
  padding: 10px 9px;
  }

  
.contct_inner samp {
  margin: 0 7px 19px 0;
  width: 48%;
}
.contct_inner samp.full_width {
  width: 98%;
}
	/* .navbar-toggle {
  display: block;
}
header .collapse {
  display: none;
} */
	.banner-iner h2 {
  font-size: 47px;
  }
	.privacy_policy {
  padding: 40px 0;
}
.contact_banner .banner-iner {
  padding: 119px 0;
}	
	/* ===============spark_invite====================== */
	
		.media_obj_outer {
  width: 100%;
}
.to-do-bot_onspark {
  padding: 25px 0 43px;
}
.media_obj_inner h2 {
  font-size: 40px;
  padding: 0 0 14px;
}
.cisco_command {
  padding: 30px 0 0;
}	
	/* ===============spark_invite ends==================== */
	
	/* ================contact page==================== */
	
		.contct_inner .follow_us {
  padding: 0 10px;
}
.contct_inner .follow_usinner {
  padding: 15px 16px 46px;
  width: 200px;
}
	
	/* ================contact page ends================ */
		.plugin_outer_inner {
  box-shadow: none;
  position: relative;margin: -3px auto 0;
  width: 100%;
}
.plugin_outer_inner > a {
  padding: 9px 15px;
 }
.banner-iner img {
  width: 36px;
}	 
.banners-buttons-outer .btn-default {
  font-size: 17px;
  height: 42px;
  min-width: 200px;
  width: 100%;
}
.banners-buttons-outer .btn-default img {
  margin: 0 13px 0 0;
  width: 21px;
}
	header {
   top: 19px;
  }
		
/*slack_page*/
.banner-iner p {
  font-size: 16px;
  margin: 10px 0 15px;
}
.plugin_outer img {
  width: 80%;
 margin: -35px 0 0 0 ;
}

.lorem_inner_right img
{
	width:100%;
}
.lorem_inner_left {
  padding: 20px 20px 0 0;
}

.second_part {
  padding: 40px 40px 0!important;
}
.lorem_outer {
  margin: 70px 0 0;
}

.panel-body {
  font-size: 14px;
  padding: 15px 25px;
}
.manager_features_inner h2 {
  font-size: 40px;
  padding: 0 0 10px;
}
.manager_features_inner p {
  font-size: 15px;
  line-height: 21px;
}
.lorem_inner_left h2 {
  font-size: 29.99px;
  padding: 10px 0;
}

.manager_features_outer {
  padding: 0 0 60px;
}
.faq_outer {
  padding: 60px 0 60px;
}

.cordinaton_part {
  margin: 25px 0;
}
.banner-iner p {
  font-size: 16px;
  margin: 10px 0 15px;
}

.feture_text_sec h2 {
  font-size: 32px;
 }
.feature_img_sec img
{
	width:100%;
}
.feture_text_sec {
  padding: 20px 20px 0 0;
}

.second_part {
  padding: 40px 40px 0!important;
}
.feature_block {
  margin: 70px 0 0;
}
.panel-title > a, .panel-title > small, .panel-title > small > a {
  font-size: 12px;    padding: 20px 33px 20px 28px;
}
.panel-body {
  font-size: 14px;
  padding: 15px 25px;
}

.lorem_inner_left p {
  font-size: 16px;
}


.btn-default {
  font-size: 17px;
  height: 40px;
  width: 200px;
}

/*slack_page_end*/
    .trusted-thousands01-slider {
        display: inline-block;
        float: none;
        margin: 70px 0;
        text-align: center;
        width: 83%;
    }

    .header-in-right .collapse.navbar-collapse {
        background: rgba(0,0,0,0);
    }

    .navbar-collapse,.navbar-collapse.collapse.in {
        background: #000;
        border-radius: 4px;
    }

    .conversational01-bottom img {
        width: 250px;
    }

    .conversational01-bottom-left img {
        width: 275px;
    }

  .banner-iner {
  padding: 133px 15px 66px;
  text-align: center;
}

    .item>a {
        float: left;
        margin: 0 1%;
        width: 18%;
        text-align: center;
    }

    .carousel-control.left {
        left: 0;
        top: -22px;
    }

    .carousel-control.right {
        right: 0;
        top: -6px;
    }

    .testimonals-img {
        margin-right: 30px;
        width: 203px;
    }

    .testimonals-in-right {
        float: left;
        margin-top: 21px;
        text-align: left;
        width: 66%;
    }

    .tesnimonilas-iner {
        margin-bottom: 70px;
    }

    .footer-iner {
        padding: 0 15px;
    }

    .trusted-thousands01-main {
        padding: 65px 0;
    }

    .coments01 {
        bottom: 6%;
    }

    .heder-iner01 {
        padding: 0 15px;
    }

.banner-iner h2 {
  font-size: 40px;
}

    .bot-works-inner h2,.conversational01-inner h2 {
        font-size: 35px;
    }

    .baner-learnmore {
        padding: 16px 60px;
    }

    .slect-team01 select {
        padding: 18px 60px 16px 23px;
    }

    .bot-works-main {
        padding: 40px 0;
    }

    .navbar-collapse.collapse.in {
        width: 100%;
    }

    .col-xs-8.pad_none.header-in-right {
        float: right;
        text-align: right;
      /*   width: 40%; */
    }

    .navbar-inverse .navbar-nav>li>a {
        width: 100%;
    }

    .navbar-toggle {
        margin-right: 0;
    }

    .bot-works-bottom-part {
        padding: 0 3%;
    }

    .bot-works-bottom-left {
        text-align: center;
    }

    .bot-works-bottom-left img {
        width: 72%;
        float: none;
        display: inline-block;
    }

    .conversational01-main {
        padding: 40px 0;
        width: 100%;
    }

    .conversational01-inner {
        text-align: center;
        padding: 0 15px;
    }

    .conversational01-bottom-left {
        margin: 0 0 20px;
    }

    .copy-right-out {
        padding: 20px 15px;
    }

    footer {
        padding: 60px 0 51px;
    }
	
	
	
/*slack_page*/

/*slack_page_end*/
	
	
	
	
	
	
	
	
	
}

@media only screen and (min-width:620px) and (max-width:766px) {
	 .banner-iner img {
  margin: 0 0 0 0;
  width: 25px;
}
  	.caret1 {
  background-repeat: no-repeat;
  background-size: 47px auto;
  height: 45px;
  width: 44px;
}
.add_team .btn.dropdown-toggle {
  height: 51px;
 }
 .btn.dropdown-toggle > p {
   padding: 8px 18px;
}
 /*slack_page*/
.banner-iner p {
  font-size: 16px;
  margin: 10px 0 15px;
}
.plugin_outer img {
  width: 80%;
    margin: -31px 0 0;
}
.lorem_inner_right img
{
	width:100%;
}
.lorem_inner_left {
  padding:0;margin: 0 0 16px;
  text-align:center;
}
.lorem_inner_right img
{
	width:65%;
}
/* .second_part {
  padding: 40px 40px 0!important;
} */
.lorem_outer {
  margin: 50px 0 0;
  padding:0 10px;
}

.panel-body {
  font-size: 14px;
  padding: 15px 25px;
}
.manager_features_inner h2 {
  font-size:35px;
  padding: 0 0 10px;
}
.manager_features_inner p {
  font-size: 15px;
  line-height: 21px;
}
.lorem_inner_left h2 {
  font-size: 29.99px;
  padding: 10px 0;
}
.lorem_inner_left p {
  font-size: 16px;
}
.manager_features_outer {
  padding: 0 15px 60px;
}
.panel-title .active {
    background-position: right -40px;
}
.faq_outer {
  padding: 60px 25px 60px;
}
.btn-default {
  font-size: 17px;
  height: 40px;
  width: 200px;
}
.cordinaton_part {
  margin: 25px 0;
}
.manager_features_inner {
  margin: 60px 0 0;
}

.feature_img_sec img
{
	width:100%;
}
.feture_text_sec {
  padding:0;
  text-align:center;
}
.feature_img_sec img
{
	width:65%;
}

.feature_block {
  margin: 50px 0 0;
  padding:0 10px;
}
.feture_text_sec h2 {
  font-size: 29.99px;
  padding: 10px 0;
}
.feture_text_sec p {
  font-size: 16px;
}
/*slack_page_end*/
 
    .navbar-collapse,.navbar-collapse.collapse.in {
        background: #000;
        border-radius: 4px;
    }

    .conversational01-bottom div {
        width: 50%;
    }

    .first-footernav {
        padding-left: 0;
        width: 20%;
    }

   .banner-iner {
  padding: 117px 15px 66px;
  text-align: center;
}

    .item>a {
        float: left;
        margin: 0 1%;
        width: 18%;
        text-align: center;
    }

    .testimonals-img,.testimonals-in-right,.testimonals-in-right h6 {
        float: none;
        display: inline-block;
    }

    .carousel-control.left {
        left: 366px;
        top: 110px;
        display: none;
    }

    .carousel-control.right {
        right: 345px;
        display: none;
        top: 110px;
    }

    .testimonals-img {
        margin-right: 0;
        width: 203px;
    }

    .testimonals-in-right {
        margin-top: 21px;
        width: 85%;
        text-align: center;
    }

    .testimonals-in-right h6 {
        font-size: 15px;
        font-weight: 400;
        margin: 14px 0 0;
    }

    .first-footernav li a {
        font-size: 12px;
    }

    .iner-part-copy p {
        font-size: 14px;
    }

    .tesnimonilas-iner {
        margin-bottom: 65px;
    }

    .footer-iner {
        padding: 0 15px;
    }

    .trusted-thousands01-main {
        padding: 32px 0;
    }

    .coments01 {
        bottom: 6%;
    }

    .heder-iner01 {
        padding: 0 15px;
    }

    .banner-iner h2 {
        font-size: 30px;
    }

    .banner-iner p {
        font-size: 15px;
    }

    .baner-learnmore {
        font-size: 15px;
        padding: 14px 53px;
    }

    .slect-team01 select {
        padding: 15px 62px 13px 23px;
        font-size: 15px;
    }

    .bot-works-inner h2,.conversational01-inner h2,.trusted-thousands01-inner h2 {
        font-size: 30px;
    }

    .bot-works-main {
        padding: 32px 0;
    }

    .navbar-collapse.collapse.in {
        width: 100%;
    }

    .col-xs-8.pad_none.header-in-right {
        float: right;
        text-align: right;
        width: 40%;
    }

    .navbar-inverse .navbar-nav>li>a {
        width: 100%;
    }

    .bot-works-bottom-right {
        padding: 39px 21px 0;
        text-align: left;
    }

    .bot-works-bottom-left,.firt-testimonils {
        text-align: center;
    }

    .navbar-toggle {
        margin-right: 0;
    }

    .bot-works-bottom-part {
        padding: 0 3%;
    }

    .bot-works-bottom-left img {
        display: inline-block;
        float: none;
        width: 52%;
    }

    .conversational01-main {
        padding: 32px 0;
        width: 100%;
    }

    .conversational01-inner {
        text-align: center;
        padding: 0 15px;
    }

    .conversational01-bottom img,.conversational01-bottom-left img {
        width: 85%;
    }

    .firt-testimonils {
        float: left;
        width: 100%;
    }

    .copy-right-out {
        padding: 13px 15px;
    }

    .conversational01-bottom-left {
        margin: 0 0 50px;
    }

    footer {
        padding: 60px 0 51px;
    }

    .slect-team01 {
        background-position: 173px 2px;
        background-size: 22% auto;height: 51px;
        width: 222px;vertical-align: top;
    }
	.btn-primary {
  height: 51px;
  }
  header {
   top: 20px;
  }
.banners-buttons-outer .btn-default {
  font-size: 14px;
  height: 42px;
  min-width: 200px;
  width: 100%;
}
.banners-buttons-outer .btn-default img {
  margin: 0 13px 0 0;
  width: 21px;
}
  	.plugin_outer_inner {
  box-shadow: none;
  position: relative;margin: -3px auto 0;
  width: 100%;
}
.plugin_outer_inner > a {
  padding: 9px 15px;
 }
  .mob_view_none{display:none;}
	.mob_view {
  display: block;
}
/* ================contact page==================== */
	
.contact_banner .banner-iner {
  padding: 103px 0 61px;
}
.contactpg_outer {
  padding: 25px 15px;
}
.contact_pg .contct_inner {
  width: 100%;
}
.contct_inner samp {
   margin: 0 0 19px;
/*    width: 100%; */
}
	
	/* ================contact page ends================ */
	/* ===============spark_invite====================== */
	
		a.bold_txt {
  font-size: 23px;
  }
  .to-do-bot_onspark {
  padding: 19px 0;
}
.media_obj_outer {
  width: 100%;
}
.media_obj_inner h2 {
   font-size: 30px;
   padding: 0 11px 11px;
}
.media_obj_inner {
  margin: 0 0 44px;
  padding: 0 14px;
}
.media_obj_inner .media div {
  display: inline-block;
  width: 100%;
}
.media_obj_inner .media-left {
  margin: 0 0 19px;
}
.cisco_command {
  padding: 25px 0 0;
}
.cisco_command h2 {
  font-size: 30px;padding: 0 0 12px;
  }
.cisco_inner{
  padding: 0 15px;
}
.cisco_inner .panel-body {
  font-size: 12px;
 }
	/* ===============spark_invite ends==================== */
	.commands p {
   font-size: 13px;
}
.commands li {
  margin: 0 5px;
}
.commands li a {
  font-size: 13px;
 }
 .panel-title > a, .panel-title > small, .panel-title > small > a {
      font-size: 15px;padding: 20px 26px 20px 28px;
}
	.privacy_policy {
  padding: 21px 0;
}
.privacy_policy h2 {
  font-size: 18px;
 }
 .privacy_policy p, .privacy_policy li {
  font-size: 15px;
  line-height: 26px;
  }
  .privacy_policy h2 {
  margin: 8px 0 0;
 }
 .privacy_policy li p {
    width: 90%;
}
.contct_inner .follow_us {
  padding: 0;
}
}

@media only screen and (min-width:480px) and (max-width:619px) {
		.caret1 {
  background-repeat: no-repeat;
  background-size: 47px auto;
  height: 45px;
  width: 44px;
}
.add_team .btn.dropdown-toggle {
  height: 47px;
 }
 .btn.dropdown-toggle > p {
   padding: 8px 18px;
}	
	 /*slack_page*/
.banner-iner p {
  font-size: 16px;
  margin: 10px 0 15px;
}
.plugin_outer img {
  width: 80%;
   margin:-34px 0 0;
}
.lorem_inner_right img
{
	width:100%;
}
.lorem_inner_left {
  padding:0;
  text-align:center;
}
.lorem_inner_right img
{
	width:65%;
}
/* .second_part {
  padding: 40px 0 0!important;
} */
.lorem_outer {
  margin: 50px 0 0;
  padding:0 10px;
}
.panel-title > a, .panel-title > small, .panel-title > small > a {
  font-size: 12px;
  padding:15px 21px;
}
.btn-default img {
    width: 20px!important;
}
.faq_inner h2 {
  font-size: 35px;
}
.panel-body {
  font-size: 12px;
  padding: 15px 25px;
}
.manager_features_inner h2 {
  font-size:29px;
  padding: 0 0 10px;
}
.manager_features_inner p {
  font-size: 15px;
  line-height: 21px;
}
.lorem_inner_left h2 {
  font-size: 29px;
  padding: 10px 0;
}
.faq_inner p {
  font-size: 15px;
}
.lorem_inner_left p {
  font-size: 15px;
}
.manager_features_outer {
  padding: 0 0 60px;
}
.faq_outer {
  padding: 60px 10px 60px;
}
.btn-default {
  font-size: 17px;
  height: 40px;
  width: 200px;
}
.cordinaton_part {
  margin: 25px 0;
}
.manager_features_inner {
  margin: 60px 0 0; padding: 0 16px;
}

.feature_img_sec img
{
	width:100%;
}
.lorem_inner_left {
  padding:0;margin: 0 0 15px;
  text-align:center;
}
.feature_img_sec img
{
	width:65%;
}

.feature_block {
  margin: 50px 0 0;
  padding:0 10px;
}


.feture_text_sec  h2 {
  font-size: 29.99px;
  padding: 10px 0;
}

.feture_text_sec  p {
  font-size: 15px;
}


.feture_text_sec {
  padding: 0 10px 21px;text-align: center;
}

/*slack_page_end*/

	
	.btn-primary {
  height: 47px;
 }
    .banner-iner,.item>a,.social-icons {
        text-align: center;
    }

    .navbar-collapse,.navbar-collapse.collapse.in {
        background: #000;
        border-radius: 4px;
    }

    .banner-iner {
  padding: 105px 15px 66px;
}

    .item>a {
        float: left;
        margin: 0 1%;
        width: 18%;
    }

    .carousel-control.left {
        left: 230px;
        top: 110px;
        display: none;
    }

    .trusted-thousands01-slider {
        margin: 70px 0 40px;
    }

    .carousel-control.right {
        right: 230px;
        display: none;
        top: 110px;
    }

    .testimonals-img {
        display: inline-block;
        float: none;
        margin-right: 0;
        width: 203px;
    }

    .social-icons {
        float: left;
        width: 100%;
    }

    .social-icons li {
        float: none;
        margin-right: 8px;
        width: auto;
        display: inline-block;
    }

    .first-footernav {
        float: left;
        margin-bottom: 20px;
        text-align: left;
        width: 32%;
    }

    .testimonals-in-right {
        float: none;
        margin-top: 21px;
        width: 85%;
        display: inline-block;
        text-align: center;
    }

    .testimonals-in-right h6 {
        display: inline-block;
        float: none;
        font-size: 15px;
        font-weight: 400;
        margin: 14px 0 0;
    }

    .first-footernav li a {
        font-size: 12px;
    }

    .iner-part-copy p {
        font-size: 14px;
    }

    .tesnimonilas-iner {
        margin-bottom: 65px;
    }

    .footer-iner {
        padding: 0 15px;
    }

    .trusted-thousands01-main {
        padding: 32px 0;
    }

    .coments01 {
        bottom: 6%;
    }

    .heder-iner01 {
        padding: 0 15px;
    }

    .banner-iner h2 {
        font-size: 30px;
    }

    .banner-iner p {
        font-size: 15px;
    }

    .baner-learnmore {
        font-size: 15px;
        padding: 14px 53px;
    }

    .slect-team01 select {
        padding: 15px 62px 13px 23px;
        font-size: 15px;
    }

    .bot-works-inner h2,.conversational01-inner h2,.trusted-thousands01-inner h2 {
        font-size: 28px;
    }

    .bot-works-main {
        padding: 32px 0;
    }

    .navbar-collapse.collapse.in {
        width: 100%;
    }

    .col-xs-8.pad_none.header-in-right {
        float: right;
        text-align: right;
        width: 54%;
    }

    .navbar-inverse .navbar-nav>li>a {
        width: 100%;
    }

    .bot-works-bottom-right {
        padding: 39px 21px 0;
        text-align: left;
    }

    .bot-works-bottom-left,.firt-testimonils {
        text-align: center;
    }

    .navbar-toggle {
        margin-right: 0;
    }

    .bot-works-bottom-part {
        padding: 0 3%;
    }

    .bot-works-bottom-left img {
        display: inline-block;
        float: none;
        width: 52%;
    }

    .conversational01-main {
        padding: 32px 0;
        width: 100%;
    }

    .conversational01-inner {
        text-align: center;
        padding: 0 15px;
    }

    .conversational01-bottom img,.conversational01-bottom-left img {
        width: 70%;
    }

    .firt-testimonils {
        float: left;
        width: 100%;
    }

    .copy-right-out {
        padding: 13px 15px;
    }

    .conversational01-bottom-left {
        margin: 0 0 50px;
    }

    footer {
        padding: 53px 0 20px;
    }

    .slect-team01 {
        background-position: 173px 2px;
        background-size: 22% auto;
        width: 222px;height:47px;
    }
	.lern01-out {
  margin-bottom: 20px;
  margin-right: 0;
  width: 100%;
}

    .bot-works-inner {
        padding: 0 7px;
    }
	
	
	
	 

	header {
  top: 18px;
 }
.banner-iner img {
  margin: 0 0 0 0;
  width: 25px;
}	
.banners-buttons-outer .btn-default {
  font-size: 14px;
  height: 42px;
  min-width: 200px;
  width: 226px;
}
	.plugin_outer_inner {
  box-shadow: none;
  position: relative;margin: -3px auto 0;
  width: 100%;
}
.plugin_outer_inner > a {
  padding: 9px 15px;
 }
 .mob_view_none{display:none;}
	.mob_view {
  display: block;
}
/* ================contact page==================== */
	
.contact_banner .banner-iner {
  padding: 103px 0 61px;
}
.contactpg_outer {
  padding: 25px 15px;
}
.contact_pg .contct_inner {
  width: 100%;
}
.contct_inner samp {
   margin: 0 0 19px;
   width: 100%;
}
	
	/* ================contact page ends================ */
	/* ===============spark_invite====================== */
	
		a.bold_txt {
  font-size: 23px;
  }
  .to-do-bot_onspark {
  padding: 19px 0;
}
.media_obj_outer {
  width: 100%;
}
.media_obj_inner h2 {
   font-size: 30px;
   padding: 0 11px 11px;
}
.media_obj_inner {
  margin: 0 0 44px;
  padding: 0 14px;
}
.media_obj_inner .media div {
  display: inline-block;
  width: 100%;
}
.media_obj_inner .media-left {
  margin: 0 0 19px;
}
.cisco_command {
  padding: 25px 0 0;
}
.cisco_command h2 {
  font-size: 30px;padding: 0 0 12px;
  }
.cisco_inner{
  padding: 0 15px;
}
.cisco_inner .panel-body {
  font-size: 12px;
 }
	/* ===============spark_invite ends==================== */
	.commands p {
  float: none;margin: 0 0 12px;
  }
  	.privacy_policy {
  padding: 21px 0;
}
.privacy_policy h2 {
  font-size: 18px;
 }
 .privacy_policy p, .privacy_policy li {
  font-size: 15px;
  line-height: 26px;
  }
  .privacy_policy h2 {
  margin: 8px 0 0;
 }
 .privacy_policy li p {
    width: 90%;
}
.contct_inner .follow_us {
  padding: 0;
}
}

@media only screen and (max-width:479px) {
/* 	.panel-title .active {
  background-position: right -29px;
} */
	.contct_inner .follow_us {
  padding: 0;
}
	.privacy_policy {
  padding: 21px 0;
}
.privacy_policy h2 {
  font-size: 18px;
 }
 .privacy_policy p, .privacy_policy li {
  font-size: 15px;
  line-height: 26px;
  }
  .privacy_policy h2 {
  margin: 8px 0 0;
 }
 .privacy_policy li p {
    width: 90%;
}
	.commands p {
  float: none;margin: 0 0 12px;
  }
		/* ===============spark_invite====================== */
	
		a.bold_txt {
  font-size: 23px;
  }
  .to-do-bot_onspark {
  padding: 19px 0;
}
.media_obj_outer {
  width: 100%;
}
.media_obj_inner h2 {
   font-size: 30px;
   padding: 0 11px 11px;
}
.media_obj_inner {
  margin: 0 0 44px;
  padding: 0 14px;
}
.media_obj_inner .media div {
  display: inline-block;
  width: 100%;
}
.media_obj_inner .media-left {
  margin: 0 0 19px;
}
.cisco_command {
  padding: 25px 0 0;
}
.cisco_command h2 {
  font-size: 30px;padding: 0 0 12px;
  }
.cisco_inner{
  padding: 0 15px;
}
.cisco_inner .panel-body {
  font-size: 12px;
 }
	/* ===============spark_invite ends==================== */
		/* ================contact page==================== */
	
.contact_banner .banner-iner {
  padding: 103px 0 61px;
}
.contactpg_outer {
  padding: 25px 15px;
}
.contact_pg .contct_inner {
  width: 100%;
}
.contct_inner samp {
   margin: 0 0 19px;
   width: 100%;
}
	
	/* ================contact page ends================ */
	.mob_view_none{display:none;}
	.mob_view {
  display: block;
}
	#accordion .panel-title a span {
  margin: 0 0 0 11px;
}
	.plugin_outer_inner {
  box-shadow: none;
  position: relative;margin: -3px auto 0;
  width: 100%;
}
.plugin_outer_inner > a {
  padding: 9px 15px;
 }
.banners-buttons-outer .btn-default {
  font-size: 14px;
  height: 42px;
  min-width: 200px;
  width: 100%;
}
	.bot-works-inner p {
  padding: 0 20px;
}
header {
  top: 17px;
}
.banner-iner {
  padding: 95px 15px 47px;
}
	.caret1 {
  background-repeat: no-repeat;
  background-size: 47px auto;
  height: 45px;
  width: 44px;
}
.add_team .btn.dropdown-toggle {
  height: 47px;
 }
 .btn.dropdown-toggle > p {
   padding: 8px 18px;
}
 	 /*slack_page*/
.banner-iner p {
  font-size: 17px;padding: 0 11px;
  margin: 5px 0 10px;
}
.plugin_outer img {
  width: 80%;
  margin: -24px 0 0 ;
}
.lorem_inner_right img
{
	width:100%;
}
.lorem_inner_left {
  padding:0;
  text-align:center;margin: 0 0 21px;
}
.lorem_inner_right img
{
	width:65%;
}
/* .second_part {
  padding: 40px 0 0!important;
} */
.lorem_outer {
  margin: 30px 0 0;
  padding:0 15px;
}
.panel-title > a, .panel-title > small, .panel-title > small > a {
  font-size: 12px;
  padding:7px 20px;
}
.faq_inner h2 {
  font-size: 27px;
}
.panel-body {
  font-size: 12px;
  padding: 15px 25px;
}
.manager_features_inner h2 {
  font-size: 25px;
  padding: 0 0 10px;
}
.manager_features_inner p {
  font-size: 13px;
  line-height: 20px;
}
.lorem_inner_left h2 {
  font-size: 20.99px;
  padding: 10px 0;
}
.faq_inner p {
  font-size: 15px;
}
.lorem_inner_left p {
  font-size: 13px;
}
.manager_features_outer {
  padding: 0 15px 60px;
}
.faq_outer {
  padding:23px 15px 52px;
}
.btn-default {
  font-size: 14px;
  height: 42px;
  min-width: 200px;
  width: 224px;
}
.cordinaton_part {
  margin: 25px 0;
}
.manager_features_inner {
  margin: 60px 0 0;
  padding:0 10px;
}
.banner-iner h2 .fa.fa-slack {
  border-radius: 11px;
  font-size: 20px;
  height: 32px;
  padding: 6px;
  width: 32px;
}
.banner-iner span {
  margin: 0;
}
.banner-iner img {
  width:25px;
  margin:0 5px 0 0;
}
.btn-default img {
    width: 18px !important;
}

.feature_img_sec img
{
	width:100%;
}
.feture_text_sec {
  padding:0;
  text-align:center;
}
.feature_img_sec img
{
	width:65%;
}

.feature_block {
  margin: 50px 0 0;
  padding:0 10px;
}



.feture_text_sec h2 {
  font-size: 20.99px;
  padding: 10px 0;
}

.feture_text_sec p {
  font-size: 13px;
}


.accordion_outer {
  margin: 24px 0 19px;
}


/*slack_page_end*/

 
    .banner-iner,.item>a,.social-icons {
        text-align: center;
    }

    .navbar-collapse,.navbar-collapse.collapse.in {
        background: #000;
        border-radius: 4px;
    }

    .item>a {
        display: inline-block;
        float: none;
        margin: 0 1%;
        min-height: 49px;
        width: 30%;
    }

/*     .banner-iner {
        padding: 126px 15px 75px;
    } */

    .carousel-control.left {
        left: 230px;
        top: 60px;
        display: none;
    }

    .carousel-control.right {
        right: 196px;
        top: 60px;
        display: none;
    }

    .trusted-thousands01-slider {
        float: left;
        margin: 40px 0;
        width: 100%;
    }

    .testimonals-img {
        display: inline-block;
        float: none;
        margin-right: 0;
        width: 203px;
    }

    .social-icons {
        float: left;
        width: 100%;
    }

    .social-icons li {
        float: none;
        margin-right: 8px;
        width: auto;
        display: inline-block;
    }

    .first-footernav {
        float: left;
        margin-bottom: 20px;
        text-align: left;
        width: 49%;
    }

    .testimonals-in-right {
        float: none;
        margin-top: 21px;
        width: 85%;
        display: inline-block;
        text-align: center;
    }

    .testimonals-in-right h6 {
        display: inline-block;
        float: none;
        font-size: 15px;
        font-weight: 400;
        margin: 14px 0 0;
    }

    .first-footernav li a {
        font-size: 12px;
    }

    .coments01>img {
        cursor: pointer;
        width: 40%;
        float: right;
    }

    .iner-part-copy p {
        font-size: 13px;
    }

    .tesnimonilas-iner {
        margin-bottom: 65px;
    }

    .footer-iner {
        padding: 0 15px;
    }

    .trusted-thousands01-main {
        padding: 40px 0 0;
    }

    .coments01 {
        bottom: 6%;
    }

    .heder-iner01 {
        padding: 0 15px;
    }

    .banner-iner h2 {
        font-size:30px;
    }

    .banner-iner p {
        font-size: 15px;
    }

    .baner-learnmore {
        font-size: 15px;
        padding: 10px 53px;
    }

    .slect-team01 select {
        font-size: 15px;
        padding: 12px 62px 8px 23px;
    }

    .bot-works-main {
        padding: 30px 0;
    }

    .navbar-collapse.collapse.in {
        width: 100%;
    }

    .col-xs-8.pad_none.header-in-right {
        float: right;
        position: absolute;
        text-align: right;
        width: 100%;
    }

    .navbar-inverse .navbar-nav>li>a {
        width: 100%;
    }

    .bot-works-bottom-right {
        padding: 39px 10px 0;
        text-align: left;
    }

    .bot-works-bottom-left,.firt-testimonils {
        text-align: center;
    }

    .navbar-toggle {
        margin-right: 0;
    }

    .bot-works-inner h2 {
        font-size: 30px;
    }

    .bot-works-bottom-right li a {
        font-size: 16px;
        margin: 0;
        padding: 0 0 0 30px;
    }

    .bot-works-bottom-part {
        padding: 0 3%;
    }

    .bot-works-bottom-left img {
        display: inline-block;
        float: none;
        width: 52%;
    }

    .conversational01-main {
        padding: 24px 0;
        width: 100%;
    }

    .conversational01-inner {
        text-align: center;
        padding: 0 15px;
    }

    .conversational01-inner h2 {
        font-size: 23px;
    }

    .conversational01-bottom img,.conversational01-bottom-left img {
        width: 70%;
    }

    .trusted-thousands01-inner h2 {
        font-size: 25px;
    }

    .firt-testimonils {
        float: left;
        width: 100%;
    }

    .copy-right-out {
        padding: 13px 15px;
    }

    .conversational01-bottom-left {
        margin: 0 0 50px;
    }

    footer {
        padding: 53px 0 20px;
    }

    .slect-team01 {
        background-position: 170px -2px;
        background-size: 22% auto;
        width: 215px;height: 47px;
    }

    .testimonals-img img {
        width: 70%;
    }

    .lern01-out {
        display: inline-block;
        float: none;
        margin-right: 0;
        width: auto;height: 47px;
        margin-bottom: 16px;
    }
	.btn-primary {
  height: 47px;
 }
 
 
 
 
 
 	

 
 
 
 
 
 
}