
.pad_none, body {
    padding: 0;
}
body {
    -webkit-text-stroke: 1px transparent;
    overflow-x: hidden;
}
li, ol, ul {
    list-style: outside none none;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
a {
    color: #f15152;
}
a:hover {
    text-decoration: underline;
}
input {
      outline: 0 none !important;
}
button:focus, input:focus, select:focus, textarea:focus {
    outline: 0 none;
}
header {
    position: absolute;
    top: 40px;
    width: 100%;
    z-index: 99;
}
.navbar-fixed-bottom, .navbar-fixed-top {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
    border: medium none !important;
    left: 0;
    position: static;
    right: 0;
}
.col-xs-8.pad_none.header-in-right {
    text-align: right;
}
.banner-iner, .bot-works-inner {
    text-align: center;
}
.navbar-inverse .navbar-nav > li > a {
    border: 1px solid transparent;
    border-radius: 6px;
    color: #fff;
    float: left;
    font-family: robotolight;
    font-size: 17px;
    font-weight: 400;
    padding: 10px 20px;
    text-transform: capitalize;
}
.baner-learnmore, .navbar-inverse .navbar-nav > li > a:hover {
    border-radius: 6px;
    color: #fff;
    transition: all 0.5s ease 0s;
}
.banner-outer-main a:hover {
  color: #fff;
}
.navbar-inverse .navbar-nav > li > a:hover {
    background: #434c54 none repeat scroll 0 0;
    border: 1px solid #fff;
    border-radius: 6px;
    opacity: 1;
    text-decoration: none;
}
.navbar-inverse .navbar-nav > li.active_nav > a{
  background: #434c54 none repeat scroll 0 0;
  border: 1px solid #fff;
  border-radius: 6px;
  opacity: 1;
  text-decoration: none;
}
.collapse.navbar-collapse {
    float: right;
}
.banner-outer-main {
    background: rgba(0, 0, 0, 0) url("../img/banner01.jpg") no-repeat scroll center top / cover ;
    float: left;
    position: relative;
    width: 100%;
}
.banner-iner {
    padding: 160px 0 280px;
}
.banner-iner h2 {
    color: #fff;
    font-family: robotothin;
    font-size: 56px;
    font-weight: 400;
}
.banner-iner p {
    color: #fff;
    font-family: robotolight;
    font-size: 17px;
    font-weight: 400;
    margin: 14px 0 30px;
}
.baner-learnmore, .slect-team01 select {
    font-family: robotobold;
    text-transform: capitalize;
}
.lern01-out {
    display: inline-block;
    float: none;
    margin-right: 6px;
    width: auto;
}
.banners-buttons-outer > div {
    display: inline-block;
    vertical-align: top;
}
.caret1 {
    background-image: url("../img/select-bg.png");
    display: inline-block;
    float: right;
    height: 60px;
    margin: 0 !important;
    width: 61px;
}
.add_team {
    margin: 0 auto;
}
.add_team .btn.dropdown-toggle {
    background: #ec3636 none repeat scroll 0 0;
    box-shadow: 0 5px 0 #9e0e0d;
    height: 61px;
    padding: 0;
}
.btn.dropdown-toggle > p {
    color: #fff;
    float: left;
    font-size: 20px;
    font-weight: 600;
    margin: 0;
    padding: 15px 37px;
}
.add_team .dropdown-menu {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    min-width: 100%;
}
.add_team .dropdown-menu li a {
    border-bottom: 1px solid #f2f2f2;
    font-size: 16px;
    padding: 8px 10px;
}
.add_team .dropdown-menu li a.last {
    border-bottom: medium none;
}
.add_team .dropdown-menu li a img {
    border-radius: 5px;
    margin-right: 10px;
}
.banners-buttons-outer {
    float: left;
    text-align: center;
    width: 100%;
}
.btn-primary {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #f4f4f4 0%, #e6e6e6 63%, #d9d9d9 100%) repeat scroll 0 0;
    border: medium none;
    border-radius: 6px;
    box-shadow: 0 5px 0 #727071;
    color: #383838;
    display: inline-block;
    font-size: 20px;
    height: 60px;
    padding: 0 60px;
}
.btn-primary:hover {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #d9d9d9 0%, #e6e6e6 37%, #f4f4f4 100%) repeat scroll 0 0;
    color: #383838;
    text-decoration: none;
    transition: all 0.5s ease 0s;
}
.slect-team01 {
    background-color: #ec3636;
    background-image: url("../img/select-bg.png");
    background-position: 218px 0;
    background-repeat: no-repeat;
    border-radius: 6px;
    box-shadow: 0 5px 0 #9e0e0d;
    display: inline-block;
    float: none;
    height: 60px;
    width: 280px;
}
.copy-right-out, footer {
}
.slect-team01 select {
    -moz-appearance: none;
    background: transparent none repeat scroll 0 0;
    border: medium none;
    color: #fff;
    cursor: pointer;
    font-size: 17px;
    padding: 17px 60px 17px 28px;
    width: 100%;
}
.bot-works-main {
    background: #fff none repeat scroll 0 0;
    float: left;
    padding: 90px 0;
    width: 100%;
}
.bot-works-inner h2 {
    color: #000;
    font-family: robotothin;
    font-size: 42px;
    font-weight: 400;
}
.bot-works-bottom-right p, .bot-works-inner p {
    color: #2a2a2a;
    font-family: robotolight;
    font-size: 17px;
    font-weight: 400;
}
.bot-works-inner p {
    margin: 14px 0 30px;
}
.bot-works-bottom-part {
    padding: 53px 10% 0;
}
.bot-works-bottom-right {
    padding: 0 0 0 50px;
    text-align: left;
}
.bot-works-bottom-right p {
    margin: 0;
}
.bot-works-bottom-right ul {
    float: left;
    list-style: outside none none;
    margin-top: 25px;
    padding: 0;
    text-align: left;
    width: 100%;
}
.conversational01-inner, .trusted-thousands01-inner {
    text-align: center;
}
.bot-works-bottom-right li {
    float: left;
    margin-bottom: 6px;
    width: 100%;
}
.bot-works-bottom-right li span {
    color: #2a2a2a;
    float: left;
    font-family: robotolight;
    font-size: 17px;
    font-weight: 400;
    padding: 0 0 0 11px;
    text-decoration: none;
    vertical-align: middle;
    width: 80%;
}
.conversational01-main {
    background: #f0f0f0 none repeat scroll 0 0;
    float: left;
    padding: 90px 0;
    width: 100%;
}
.conversational01-main p.vs{
    font-family: robotoregular;
    margin: 0 0 20px;
    font-size: 19px;
}
.conversational01-bottom img, .conversational01-bottom-left img {
    width: 90%;
}
.bot-works-bottom-part li img {
    float: left;
}
.conversational01-inner h2 {
    color: #000;
    font-family: robotothin;
    font-size: 42px;
    font-weight: 400;
}
.conversational01-inner p {
    color: #2a2a2a;
    font-family: robotolight;
    font-size: 17px;
    font-weight: 400;
    margin: 14px 0 0;
}
.conversational01-bottom {
    padding-top: 70px;
    margin-bottom: 20px;
}
.conversational01-bottom-left {
    margin: 45px 0 0;
}
.trusted-thousands01-main {
    background: #fff none repeat scroll 0 0;
    float: left;
    padding: 90px 0;
    position: relative;
    width: 100%;
}
.carousel-control.left, .carousel-control.right {
    background-image: none;
    background-repeat: repeat-x;
}
.trusted-thousands01-inner h2 {
    color: #000;
    font-family: robotothin;
    font-size: 42px;
    font-weight: 400;
}
.trusted-thousands01-slider {
    float: left;
    margin: 70px 0;
    width: 100%;
}
.coments01 {
    bottom: 20%;
    position: absolute;
    right: 0;
}
.coments01 > img {
    cursor: pointer;
    width: 81%;
}
.trusted-thousands01-slider ul {
    list-style: outside none none;
    text-align: center;
}
.trusted-thousands01-slider li {
    display: inline-block;
    float: none;
}
.item > a {
    float: left;
    margin: 0 1%;
}
.glyphicon-chevron-left, .glyphicon-chevron-right {
    height: 35px !important;
    margin-top: -20px !important;
    width: 38px !important;
}
.carousel-control.left {
    left: -33px;
}
.carousel-control.right {
    left: auto;
    right: -38px;
}
.trusted-thousands01-slider li a {
    text-decoration: none;
}
.glyphicon-chevron-left {
    background: rgba(0, 0, 0, 0) url("../img/left-icon.png") no-repeat scroll center -6px;
    margin-left: -105px !important;
}
.glyphicon-chevron-right {
    background: rgba(0, 0, 0, 0) url("../img/right-icon.png") no-repeat scroll center -6px;
    margin-right: -100px !important;
}
.glyphicon-chevron-left::before {
    content: "?";
    display: none;
}
.glyphicon-chevron-right::before {
    content: "?";
    display: none;
}
.firt-testimonils {
    float: left;
    width: 100%;
}
.testimonals-img {
    float: left;
    margin-right: 20px;
    width: 220px;
}
.comma-right01 {
    margin: 8px 8px 0;
}
.testimonals-img img {
    width: 100%;
}
.testimonals-in-right {
    float: left;
    margin-top: 10px;
    text-align: left;
    width: 56%;
}
.testimonals-in-right p {
    color: #2a2a2a;
    font-family: robotolight;
    font-size: 17px;
    font-weight: 400;
    margin: 14px 0 0;
}
.testimonals-in-right h6 {
    color: #ed3d3f;
    float: left;
    font-family: robotoregular;
    font-size: 15px;
    font-weight: 400;
    margin: 20px 0 0;
    text-transform: capitalize;
}
.testimonals-in-right h6 span {
    color: #8a8a8a;
    float: left;
    font-family: robotoitalic;
    font-size: 13px;
    font-weight: 400;
    margin: 5px 0 0;
    text-transform: capitalize;
    width: 100%;
}
.comma-left01 {
    margin: -11px 11px 0 0;
}
footer {
    background: rgba(0, 0, 0, 0) linear-gradient(to right, #242a31 2%, #353c44 47%, #48525b 100%) repeat scroll 0 0;
    float: left;
    padding: 70px 0 0;
    width: 100%;
}
.footer-iner {
    display: inline-block;
    padding-bottom: 65px;
    width: 100%;
}
.first-footernav {
    float: left;
    text-align: left;
    width: 20%;
}
.first-footernav h2 {
    color: #fff;
    font-family: robotobold;
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.first-footernav li a, .iner-part-copy p {
    float: left;
    line-height: 28px;
    text-transform: capitalize;
}
.first-footernav ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.first-footernav li {
    float: left;
    width: 100%;
}
.first-footernav li a {
    color: #fff;
    font-family: robotolight;
    font-size: 15px;
    width: 100%;
}
.social-icons {
    float: left;
    width: 100%;
}
.social-icons li {
    float: left;
    margin-right: 8px;
    width: auto;
}
.social-icons li a {
    text-decoration: none;
    width: auto;
}
.fecbook01:hover {
    color: #2c4176;
}
.twiter01:hover {
    color: #00a7e2;
}
.social-icons li .fa {
    font-size: 26px;
}
.linkdin01:hover {
    color: #04aee9;
}
.rss01:hover {
    color: #eb992d;
}
.copy-right-out {
    background: rgba(0, 0, 0, 0) linear-gradient(to right, #242a31 2%, #353c44 47%, #48525b 100%) repeat scroll 0 0;
    border-top: 1px solid #50575f;
    float: left;
    padding: 28px 0;
    width: 100%;
}
.iner-part-copy {
    text-align: left;
}
.iner-part-copy p {
    color: #fff;
    font-family: robotolight;
    font-size: 15px;
    width: 100%;
}

.typed-cursor {
    animation: 0.7s ease 0s normal none infinite running blink;
    opacity: 1;
}
@keyframes blink {
0% {
    opacity: 1;
}
50% {
    opacity: 0;
}
100% {
    opacity: 1;
}
}
@keyframes blink {
0% {
    opacity: 1;
}
50% {
    opacity: 0;
}
100% {
    opacity: 1;
}
}
@keyframes blink {
0% {
    opacity: 1;
}
50% {
    opacity: 0;
}
100% {
    opacity: 1;
}
}
.btn-default {
    background: #ec3636 none repeat scroll 0 0;
    border: medium none;
    border-radius: 6px;
    box-shadow: 0 5px 0 #9e0707;
    color: #fff;
    font-size: 20px;
    height: 60px;
    padding: 0 21px;
    min-width: 255px;
}
.banner-iner h2 .fa.fa-slack {
    background: #fff none repeat scroll 0 0;
    border-radius: 15px;
    color: #434d55;
    font-size: 30px;
    height: 42px;
    padding: 7px;
    vertical-align: middle;
    width: 42px;
}
.plugin_outer {
    text-align: center;
}
.manager_features_outer {
    padding: 0 0 100px;
    text-align: center;
}
.manager_features_inner {
    margin: 100px 0 0;
    text-align: center;
}
.manager_features_inner h2 {
    color: #343d4a;
    font-family: robotolight;
    font-size: 42px;
    margin: 0;
    padding: 0 0 20px;
    text-transform: capitalize;
}
.manager_features_inner p {
    color: #3a4350;
    font-family: robotolight;
    font-size: 17px;
    line-height: 30px;
    margin: 0;
}
.lorem_outer {
    margin: 90px 0 0;
    text-align: center;
}
.lorem_inner_left {
    padding: 40px 0 0 100px;
    text-align: left;
}
.lorem_inner_left h2 {
    color: #343d4a;
    font-family: robotolight;
    font-size: 33.99px;
    margin: 0;
    padding: 20px 0;
    text-transform: capitalize;
}
.lorem_inner_left p {
    color: #67676e;
    font-family: robotolight;
    font-size: 17px;
    margin: 0;
}
.second_part {
    padding: 40px 0 0;
}
.content {
    background: #f0f0f0 none repeat scroll 0 0;
}
.faq_outer {
    background: #fff none repeat scroll 0 0;
    padding: 80px 0 110px;
}
.faq_inner {
    text-align: center;
}
.faq_inner h2 {
    color: #343d4a;
    font-family: robotolight;
    font-size: 42px;
    margin: 0;
    padding: 0 0 5px;
    text-transform: capitalize;
}
.faq_inner p {
    color: #343d4a;
    font-family: robotolight;
    font-size: 17px;
    margin: 0;
}
.panel {
    box-shadow: 0 2px 4px #e6e6e6;
}
.panel-title > a, .panel-title > small, .panel-title > small > a {
    display: inline-block;
    padding: 20px 0 20px 28px;
    text-align: left;
    width: 100%;
}
.active {
}
.panel-title .active {
    background-position: right -34px;
}
.panel-title {
    color: #67676e;
    font-family: robotoregular;
    font-size: 17px;
    margin: 0;
    padding: 0 15px 0 0;
}
.panel-body {
    color: #67676e;
    font-family: robotolight;
    font-size: 16px;
    margin: 0;
    padding: 30px 40px;
    text-align: left;
}
.panel-heading > .dropdown .dropdown-toggle, .panel-title, .panel-title > .small, .panel-title > .small > a, .panel-title > a, .panel-title > small, .panel-title > small > a:hover {
    text-decoration: none;
}
.panel-group .panel {
    border: medium none;
    border-radius: 0 !important;
    margin-bottom: 0;
}
.panel-heading {
    background: rgba(0, 0, 0, 0) url("../img/cordination_red_line.png") no-repeat scroll left center;
    border-bottom: 1px solid transparent !important;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 0;
}
.cordinaton_part {
    margin: 50px 0;
}
.banners-buttons-outer .fa-slack {
    background: #fff none repeat scroll 0 0;
    border-radius: 11px;
    color: #ec3636;
    content: "?";
    margin: 0 8px 0 0;
    padding: 4px;
}
.btn-default .fa-slack {
    background: #fff none repeat scroll 0 0;
    border-radius: 11px;
    color: #ec3636;
    content: "?";
    margin: 0 8px 0 0;
    padding: 4px;
}
.panel-group .panel + .panel {
    margin-top: 15px;
}
.plugin_outer_inner {
    box-shadow: 0 33px 41px -20px #939393;
    margin: -210px auto 0;
}
.banners-buttons-outer .btn-default img {
  margin: 0 13px 0 0;
  width: 32px;
}
.banners-buttons-outer .btn-default.active, .banners-buttons-outer .btn-default:active, .banners-buttons-outer .btn-default:hover, .open > .dropdown-toggle.btn-default {
  background-color: #434c54;
  border-color: #adadad;
  color: #ffffff;
}
.plugin_outer_inner {
  position: relative;
  width: 812px;
}
.plugin_outer_inner > a {
  background: #525c66 none repeat scroll 0 0;
  border-radius: 52px;
  color: #ffffff;
  display: inline-block;
  font-family: "Roboto",sans-serif;
  font-size: 13px;
  font-weight: 900;
  left: 50%;
  padding: 9px 27px;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
   -moz-transform: translate(-50%, -50%);
}
.plugin_outer_inner > a:hover{background:#ec3636;text-decoration:none;}
.plugin_outer_inner .fa.fa-caret-right {
  font-size: 22px;
  margin: 0 0 0 10px;
  vertical-align: middle;
}
.bot-works-bottom-part a:hover {
    color: #2a2a2a;
    text-decoration: underline;
}

.panel-title > a, .panel-title > small, .panel-title > small > a {
    background: rgba(0, 0, 0, 0) url("../img/add_icon.png") no-repeat scroll right 20px;
    display: inline-block;
    padding: 20px 0 20px 28px;
    text-align: left;
    width: 100%;
}

.panel-title .active {
    background-position: right -34px;
}
.panel-title .active.collapsed {
  background-position: right 20px;
}
.mob_view {
  display: none;
}


/* ================contact page rules========================= */

section.contact_banner {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2b323a+0,3d464e+44,4f5963+100 */
background: #2b323a; /* Old browsers */
background: -moz-linear-gradient(left, #2b323a 0%, #3d464e 44%, #4f5963 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #2b323a 0%,#3d464e 44%,#4f5963 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #2b323a 0%,#3d464e 44%,#4f5963 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b323a', endColorstr='#4f5963',GradientType=1 ); /* IE6-9 */
}
.contact_banner .banner-iner{
  padding: 211px 0;
}
.content {
  display: inline-block;
  width: 100%;
}
.contact_pg .contct_inner {
  float: none;
  margin: 0 auto;/* width: 800px; */
}
.contactpg_outer {
  background: #f0f0f0 none repeat scroll 0 0;
  padding: 86px 0;
}
.contct_inner samp {
  display: inline-block;
  margin: 0 9px 19px 0;
  vertical-align: top;
  width: 49%;
}
samp.marg_none {
  margin-right: 0;
}
samp.full_width {
  width: 100%;
}
.contct_inner textarea{
  background-color: #fff ;resize:none;
  border: 1px solid #d7d6d6 ; font-family: 'proxima_nova_rgregular';
  padding: 10px 15px;
  width: 100%;height: 160px;
}
.contct_inner input{
  background-color: #fff ;
  border: 1px solid #d7d6d6 ; font-family: 'proxima_nova_rgregular';
  padding: 10px 15px;
  width: 100%;
}
.contct_inner select {
  background-color: #fff ;
  border: 1px solid #d7d6d6;
  padding: 10px 15px;
  width: 100%;
}
.contct_inner .submit {
  float: left;
}
.submit > input {
  background: #ec3636 none repeat scroll 0 0;
  border-bottom: 4px solid #9e0707 !important;
  border-radius: 4px;
  color: #fff;
  float: left;
   font-size: 18px;
  font-weight: 700;
  padding: 12px 29px;
  text-transform: uppercase;
  width: auto;
}
.submit > input:hover{background:#434C54;}
.contct_inner select {
  -moz-appearance: none;
  -webkit-appearance: none;
  background-image: url("../img/down_arr.png");
  background-position: right center;
  background-repeat: no-repeat;
}
.contct_inner p {
  font-size: 14px;
  font-weight: 300; font-family: 'Roboto', sans-serif;
  text-align: left;color:#67676e;padding: 0 0 14px;
}
.contct_inner p span {
  font-weight: 900;font-family: 'Roboto', sans-serif;
}
.contct_inner .follow_usinner {
  background: #fff none repeat scroll 0 0;
 padding: 15px 22px 68px;
  text-align: left;border:1px solid #d7d6d6;
}
.contct_inner .follow_us {
  padding: 0 21px;
}

.follow_usinner h3 {
  color: #4a4a4a;
  font-family: "Roboto",sans-serif;
  font-size: 16px;
  font-weight: 500;
  margin: 20px 0 0;
  padding: 0 0 8px;
}
.capatilise_txt{text-transform:uppercase;margin: 11px 0 3px;}
.page_link a {
  color: #67676e;
  display: inline-block;
  font-family: "proxima_nova_rgregular";
  font-size: 15px;
  margin: 0 0 7px;width: 100%;
}
.page_link .fa.fa-angle-right {
  float: left;
  margin: 3px 6px 0 0;
}

.page_link span {
  float: left;
  width: 89%;
}
.social_links > li {
  display: inline-block;
  margin: 0;
  vertical-align: top;
}


/* ===================spark invite rules====================== */

.banner-outer-main.small_banner {
  padding: 137px 0 94px;
}
.small_banner .banner-iner {
  padding: 0;
}
button.btn-default .fa.fa-play {
  font-size: 18px;
  margin: 0 0 0 9px;
  vertical-align: inherit;
}
a.bold_txt {
  background-image: url("../img/dashed_line.png");
  background-position: center bottom;
  background-repeat: no-repeat;
  color: #fff;
  display: inline-block;
  font-family: robotobold;
  font-size: 36px;
  font-weight: 900;
  margin: 18px 0;
  padding: 0 0 8px;
  text-shadow: 0 0 5px #000;
}
.media_obj_outer {
  float: none;
  margin: 0 auto;
   width: 990px;
}
.media_obj_inner {
  margin: 0 0 44px;
}
.to-do-bot_onspark {
  padding: 90px 0;
}
.media_obj_inner h2 {
  color: #000;
  font-size: 42px;
  font-weight: 300;
  padding: 0 0 40px;font-family: robotothin;
}
.media_obj_inner .media-heading {
  color: #343d4a;
  font-size: 20px;
  font-weight: 300; font-family: robotolight;
  padding:0 0 29px; position:relative;
}
.media_obj_inner .media-heading::after {
  background: #d52b31 none repeat scroll 0 0;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  top: 33px;
  width: 40px;
}
.media_obj_inner .media-body > p{
	color: #343d4a;
  font-size: 16px;
  font-weight: 300; font-family: robotolight;

}
.media_obj_inner .media-object {
  margin: 0 30px 0 0;
}
.cisco_command {
  background: #fff none repeat scroll 0 0;
  padding: 100px 0 0;
}
.cisco_command h2 {
  color: #000;
  font-size: 42px;
  font-weight: 300;font-family: robotolight;
  padding: 0 0 40px;
}
.cisco_inner.text-center h2 img {
  margin: 0 17px 0 0;
}
.cisco_command .panel.panel-default {
  border: 1px solid #e3e3e3;
  border-radius: 4px !important;
  box-shadow: none;
  overflow: hidden;
}
.cisco_command .panel-heading {
  background: #fff none repeat scroll 0 0;
}
.cisco_command .panel-collapse.collapse.in {
  background: #fbf9f8 none repeat scroll 0 0;
}
/* .cisco_command .panel-title .active {
  background-position: 22px -34px;
}
.cisco_command .panel-title > a, .cisco_command .panel-title > small, .cisco_command .panel-title > small > a {
  padding: 20px 0 20px 56px;
  text-align: left;
  width: 100%;
} */
.cisco_command .panel-title > a, .cisco_command .panel-title > small, .cisco_command .panel-title > small > a {
  background: rgba(0, 0, 0, 0) url("../img/sign_icon.png") no-repeat scroll 19px -36px;
  display: inline-block;
  padding: 12px 0 12px 54px;
  text-align: left;
  width: 100%;
}
.cisco_inner .panel-body {
  padding: 12px 0 12px 54px;
}
.cisco_command .panel-title .active {
  background-position: 19px 13px;
}
.cisco_command .panel-title .active.collapsed {
  background-position: 19px -36px;
}
.cisco_inner a {
  color: #343d4a;
  font-size: 17px;
  font-weight: 400;
}
.cisco_inner .panel-body {
  color: #77787b;
  font-size: 16px;
  font-weight: 300;
}

.to-do-bot_onspark .media-left > span {
  background: rgba(58, 67, 80, 0.7) none repeat scroll 0 0;
  color: #fff;
  font-size: 16px;
  font-weight: 900;
  left: 0;
  padding: 7px 10px;
  position: absolute;
  top: 0;
}
.to-do-bot_onspark  .media-left{
  display: table-cell;
  position: relative;
  vertical-align: top;
}
/* ==================faq page rules=============== */

.cisco_command .fa.fa-smile-o {
  color: #999;
  float: right;
}
.faq_page .cisco_command .panel-title > a, .faq_page  .cisco_command .panel-title > small, .faq_page  .cisco_command .panel-title > small > a {
  background: rgba(0, 0, 0, 0) url("../img/accor_icon.png") no-repeat scroll 15px 0;
  display: inline-block;
  padding: 12px 0 12px 54px;
  text-align: left;
  width: 100%;
}
.faq_page  .cisco_command .panel-title .active {
  background-position: 15px -57px;
}
.faq_page .cisco_command .panel-title .active.collapsed {
  background-position: 15px 0;
}
.commands p {font-size:17px;font-weight:500;color:#343d4a;float:left;}
.commands ul{float:right;}
.commands li a {font-size:17px;font-weight:500;color:#343d4a;}
.commands {
  background: #fbf9f8 none repeat scroll 0 0;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  display: inline-block;
  margin: 0 0 15px;padding: 10px 16px;
  width: 100%;
}
.commands li {
  display: inline-block;
  margin: 0 9px;
}

/* =================privacy policy rules=================== */

.privacy_policy {
  background: #fff none repeat scroll 0 0;
  padding: 88px 0;
}
.privacy_policy h2::after {
  background: #d52b31 none repeat scroll 0 0;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  top: 33px;
  width: 60px;
}
.privacy_policy h2 {
  color: #67676e;
  font-family: robotomedium;
  font-size: 22px;
  font-weight: 500;margin: 22px 0 0;
  padding: 0 0 29px;
  position: relative;
}
.privacy_policy h2:first-child{margin:0;}
.privacy_policy p,.privacy_policy li{
  color: #67676e;
  font-family: robotolight;
  font-size: 17px;
  font-weight: 300;
  padding: 0 0 29px;
  position: relative;line-height:35px;
}
.privacy_policy li{display:inline-block;width:100%;padding: 0 0 13px;}
.privacy_policy .fa.fa-caret-right {
  float: left;
  margin: 11px 0 0;
}
.privacy_policy li p {
  float: left;padding: 0;
  margin: 0 0 0 18px;
  width: 96%;
}


