

@font-face {
    font-family: 'proxima_novablack';
    src: url('proximanova-black.woff2') format('woff2'),
         url('proximanova-black.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_nova_rgbold';
    src: url('proximanova-bold.woff2') format('woff2'),
         url('proximanova-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_nova_cn_rgregular';
    src: url('proximanovacond-regular.woff2') format('woff2'),
         url('proximanovacond-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_novalight';
    src: url('proximanova-light.woff2') format('woff2'),
         url('proximanova-light.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_nova_rgregular';
    src: url('proximanova-regular.woff2') format('woff2'),
         url('proximanova-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_novasemibold';
    src: url('proximanova-semibold.woff2') format('woff2'),
         url('proximanova-semibold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: robotobold;
    src: url(roboto-bold-webfont.eot);
    src: url(roboto-bold-webfont.eot?#iefix) format("embedded-opentype"),url(roboto-bold-webfont.woff2) format("woff2"),url(roboto-bold-webfont.woff) format("woff"),url(roboto-bold-webfont.ttf) format("truetype"),url(roboto-bold-webfont.svg#robotobold) format("svg");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: robotoitalic;
    src: url(roboto-italic-webfont.eot);
    src: url(roboto-italic-webfont.eot?#iefix) format("embedded-opentype"),url(roboto-italic-webfont.woff2) format("woff2"),url(roboto-italic-webfont.woff) format("woff"),url(roboto-italic-webfont.ttf) format("truetype"),url(roboto-italic-webfont.svg#robotoitalic) format("svg");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: robotolight;
    src: url(roboto-light-webfont.eot);
    src: url(roboto-light-webfont.eot?#iefix) format("embedded-opentype"),url(roboto-light-webfont.woff2) format("woff2"),url(roboto-light-webfont.woff) format("woff"),url(roboto-light-webfont.ttf) format("truetype"),url(roboto-light-webfont.svg#robotolight) format("svg");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: robotomedium;
    src: url(roboto-medium-webfont.eot);
    src: url(roboto-medium-webfont.eot?#iefix) format("embedded-opentype"),url(roboto-medium-webfont.woff2) format("woff2"),url(roboto-medium-webfont.woff) format("woff"),url(roboto-medium-webfont.ttf) format("truetype"),url(roboto-medium-webfont.svg#robotomedium) format("svg");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: robotoregular;
    src: url(roboto-regular-webfont.eot);
    src: url(roboto-regular-webfont.eot?#iefix) format("embedded-opentype"),url(roboto-regular-webfont.woff2) format("woff2"),url(roboto-regular-webfont.woff) format("woff"),url(roboto-regular-webfont.ttf) format("truetype"),url(roboto-regular-webfont.svg#robotoregular) format("svg");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: robotothin;
    src: url(roboto-thin-webfont.eot);
    src: url(roboto-thin-webfont.eot?#iefix) format("embedded-opentype"),url(roboto-thin-webfont.woff2) format("woff2"),url(roboto-thin-webfont.woff) format("woff"),url(roboto-thin-webfont.ttf) format("truetype"),url(roboto-thin-webfont.svg#robotothin) format("svg");
    font-weight: 400;
    font-style: normal;
}